/**
* Size
*/
$header-height: 3rem;
$footer-height: 1.2rem;

/**
* Color
*/
$color-text-primary: rgb(15, 0, 180);
$color-text-light: rgb(75, 75, 75);
$color-text-heading: rgb(0, 0, 0);
$color-text-body: rgb(40, 40, 40);

$color-background-default:rgb(240, 240, 240);

$color-border-light: rgb(230, 230, 230);