.layout-basic header{
    display: flex;
    padding: 0 1rem;
    height: $header-height;
    border-bottom: 1px solid $color-border-light;
    .logo-wrapper {
        margin: auto 0px;
        flex: 0 0 30%;
        .logo {
            width: 70px;
        }
    }
    nav {
        flex: 0 0 40%;
        ul {
            display: flex;
            justify-content: center;
            height: 100%;
            a{ 
                text-decoration: none;
                color: $color-text-light;
                &.active{
                    color: $color-text-primary;
                    background-color: rgba($color-text-primary, 0.1);
                    svg{
                        fill: $color-text-primary;
                    }
                }
                li {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: 0.6rem 1.2rem;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transition: all 0.3s ease-in-out;
                        color: $color-text-primary;
                        background-color: rgba($color-text-primary, 0.1);
                    }
                }
            }
        }
    }
    .third-col{
        flex: 0 0 30%;
        display: flex;
        justify-content: end;
        align-items: center;
        .account-wrapper{
            .dropdown button{
                background-color: transparent;
                box-shadow: none;
                border: none;
            }
            .dropdown-toggle::after{
                display: none;
            }
        }
    }
}

.layout-side header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4rem;
    height: calc(100vh - $footer-height);
    border-right: 1px solid $color-border-light;
    .logo {
        padding: 0.7rem 0.35rem;
        border-bottom:1px solid $color-border-light;
    }
    nav {
        width: 100%;
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            a{
                width: 100%;
                &.active{
                    color: $color-text-primary;
                    svg{
                        fill: $color-text-primary;
                    }
                }
                li {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    padding: 1rem 0;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transition: all 0.3s ease-in-out;
                        color: $color-text-primary;
                        background-color: rgba($color-text-primary, 0.1);
                    }
                }
            }
        }
    }
}