.layout-basic {
    overflow: hidden;
    main{
        overflow-y: auto;
        height: calc(100vh - ($header-height + $footer-height));
        background-color: $color-background-default;
        padding: 1rem;
    }
}